html {
 height: 100%;
}

body {
 background-color:rgb(255, 240, 201);
 align-self: flex-start;
 min-height: 100%;
 margin: 0;
 display: flex;
 flex-direction: column;
}

h1{
 display: flex;
 font-size: 13vh;
 font-family: monospace;
 
}

.active{
  background-color: rgb(255, 240, 201);;
}


/* animation idex page */
nav p a {
 padding: 1vh;
 color: black;
 text-decoration: none;
 transition: 0.5s;
 border-radius: 20vh;
}


nav a:hover{
  border: 10vh;
  background-color: rgb(255, 240, 201);
}


p{
  align-content: flex-end;
  background-color: rgb(226, 177, 86);
  text-decoration: none;
  border-radius: 20vh;
  margin: 1vh;
  padding: 1vw;
  font-size: 1.5vh;
}

/* links to other pages (me/project/contact)*/
.p1 {
 display: flex;
 font-size: 8vh;
 font-family: monospace;
 font-weight: bold;
 align-self: center;
 margin-left: 40%;
border-radius: 20vh;
}
.p2 {
 display: flex;
 font-size: 8vh;
 font-family: monospace;
 font-weight: bold;
 align-self: center;
 margin-left: 20%;
border-radius: 20vh;
}
.p3 {
 display: flex;
 font-size: 8vh;
 font-family: monospace;
 font-weight: bold;
 align-self: center;
 margin-left: 23%;
 border-radius: 20vh;
}


#main1 {
  align-self: center;
  flex-grow: 1;
}

/* Link style */
A:link {
 text-decoration: none
}
A:hover {
 color: black;
 text-decoration: none
}
A:visited {
 color: black;
 font-family: monospace;
 text-decoration: none
}

/* page 2 */


.header2 {
  background-color: rgb(199, 159, 73);
  font-family: monospace;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4{
  font-size: 2rem;
  padding-left: 1rem
}

.headerposition{
    align-self: center;
    padding-bottom: 2vh;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2vh;  
}

nav p {
  font-weight: bold;
}

.sections a:hover {
  
  border: 200vh;
  background-color: rgb(255, 240, 201);
}



/* main page 2 */
/* general info ralated to page 2 (me.html) */
h2{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;  
  background-color: rgb(226, 177, 86);
}

.left{
  padding-left: 3rem;
}

#center{
  padding-left: 36vw;
  background-color: rgb(226, 177, 86);
}

#foto{
  list-style: none;
}

#my_picture {
  display: flex;
  width: 24rem;
  border-radius: 8%;
  flex-grow: 1;
}

.linktop{
  font-size: 1rem;
  border-radius: 2rem;

}

.sidebar{
  list-style: none;
  padding: 0;
  margin: 0;

}

.sidebar li {
  background-color: rgb(226, 177, 86);
  width: 100%;
  border-radius: 20vh;
  margin-top: 0.5rem;
  padding: 1vw;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  box-sizing: border-box;
}

#extra  {
  background-color: rgb(226, 177, 86);
  width: 100%;
  border-radius: 2rem;
  margin-top: 0.5rem;
  padding: 1vw;
  font-size: 1rem;
  font-family: monospace;
  font-weight: lighter;
}

#text_pic{
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 2rem;
  flex-grow: 1;
}

.texto{
  display: flex;
  background-color: rgb(226, 177, 86);
  text-decoration: none;
  border-radius: 2vh;
  margin: 1vh;
  padding: 1vw;
  flex-grow: 1;
}

#textme {
  font-family: monospace;
  font-size: 2rem;
}

.textdaten {
  display: flex;
  align-self: flex-end;
  background-color: rgb(226, 177, 86);
  text-decoration: none;
  border-radius: 2vh;
  margin: 1vh;
  padding: 1vw;
}


.title {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.sidebar a:hover {
  border: 200vh;
  background-color: rgb(255, 240, 201)
}

.sidebar a {
  padding: 1vh;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 20vh;
}


.star {

  width: 1.5rem;
  margin: 0;
  padding: 0;
}

#side_foto {
  width: 25rem;
  margin-right: 3rem;
  padding-top: 1vh;
  box-sizing: border-box;

}

#name {
  font-size: 3rem;
}

#extra a {
  padding: 0;
  color: rgb(55, 55, 242);
  text-decoration: none;

}

#extra a:hover {
  border: none;
  background-color: rgb(226, 177, 86);
}

#download {
  padding: 0;
}

/* start of the "Daten" sector */


.wrapper{
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-gap: 1rem;
  grid-auto-rows: auto;
}

.micafacts{
  background-color:rgb(226, 177, 86) ;
  
  font-size: 2rem;
  font-family: monospace;
  border-radius: 2rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 3rem;
}



/* start of the "Bildungsweg" sector */

.text3{
  display: flex;
  align-self: flex-start;
  background-color: rgb(226, 177, 86);
  text-decoration: none;
  border-radius: 2vh;
  margin: 1vh;
  padding: 1vw;
}

.school {
  width: 13rem;
  height: 13rem;
}

#imleeschool {
  width: 29rem;
  height: 7rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

}

#schoollist {
  list-style: none;
}

/* start of the "Arbeitserfahrung" section */



th, td {
  text-align: left;
  font-size: 2rem;
  font-family: monospace;
  padding: 1rem;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2rem;
  
  
}

th{
  font-weight: lighter;
  
}
.text4{
  display: flex;
  align-self: flex-end;
  background-color: rgb(226, 177, 86);
  text-decoration: none;
  border-radius: 2vh;
}

#worklistyear{
  list-style: none;
}

#worklist2text{
  list-style: none;
}

.jobs{
  font-size: 2rem;
  font-family: monospace;
  padding-top: 1.3rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
}
/* start of the "Kenntnisse" section */

.colums{
  display: flex;
  justify-content: space-around;
}

.kenntnisse{
 
  align-items: center;
  background-color: rgb(226, 177, 86);
  border-radius: 1rem;
}


.textkenntnisse{
  font-family: monospace;
  flex-grow: 1;

}
.p-kenntnisse{
  font-size: 1.1rem;
  
}

h3{
  display: flex;
  align-items: center;
  background-color:rgb(226, 177, 86);
  border-radius: 1rem;
  font-size: 2.5rem;
  padding-left: 11rem;
  padding: 2rem;  
}

#h3kenntnisse{
  padding-left: 0;
  padding: 2rem;
}

/* page contact */


.grid{
  align-self: center;
  display: flex;
  background-color: rgb(226, 177, 86);
  border-radius: 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid img{
  background-color:rgb(255, 240, 201);
  padding: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
  margin: 1rem;
}
/* Page Projekte main */

.what-can-i{
  color: aliceblue;
  align-self: center;
  padding: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
  margin: 1rem;
  font-family: monospace;
  font-size: 5rem;
  padding: 10rem;
}

#do1{
  color: black;
  width: 25rem;
  background-image: url(../images/html4.jpg);}

#do2{
  color: aliceblue;
  width: 24rem;
  background-image: url(../images/pyhton1.jpg);
  
}

.grid2 {
  display: flex;
  flex-grow: 1;
  background-color: rgb(226, 177, 86);
  border-radius: 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0.5rem;
}

.Description{
  color: rgb(0, 0, 0);
  grid-template-columns: 50% 50%;
  font-size: 3rem;
  margin: 2rem;
}